@font-face { 
    font-family:'Minecrafter'; 
    src: url('../assets/Minecrafter.Reg.ttf') format('truetype')
}

h1{ 
    font-family: 'Minecrafter', sans-serif;
}

.principal{ 
    display: flex; 
    flex-direction: column;
}