*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body { 
    background-color: #DCD0FF;
    color: #000000;
    font-family:'Roboto Mono', monospace;
}

header { 
    width: 100vw; 
    background-image: url(./assets/mobilebackground1.png);
    height: 62em; 
    object-fit: cover;
    background-repeat: no-repeat;
}

header h3 .mobile-menu{ 
    opacity: 100%;
    display: flex;
    flex-direction: row;
}

.mobile-menu.responsive { 
    display: flex;
    flex-direction: column;
}

header h3 { 
    font-size: 2.5em;
    color: #4B006E;
}

header .topnav li{ 
    display: none; 
}

.mobile-menu{ 
    width: 100%; 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 10%;
}

.topnav i {  
    font-size: 2.625em; 
}

.topnav.responsive{ 
    position:relative; 
    height: 10em;
    padding-top:15px;
	padding-bottom:10px;
	line-height:5px;
	width:100%; 
}

.topnav.responsive i{ 
    position:absolute; 
    right: 0; 
    bottom: 4em;
}

.topnav.responsive li{ 
    text-align:center; 
    float: none;
    padding:0;
    display: inline;
}

.topnav.responsive a{ 
    display: block;
	padding:0;
	text-align:center;
    font-size: 1.5em;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.875em; 
}


.topnav.responsive .buy{ 
    height: 2em;
    background-color: #4B006E;
    color: #DCD0FF; 
    text-align: center;
}

.banner  { 
    width: 100%; 
}

.banner .textBanner { 
    text-align: left;   
    font-weight: 700;
    padding-right: 10%; 
    padding-left: 10%; 
    padding-top: 5%;
}

.banner .textBanner span{ 
    color:#5A4FCF;
}

.banner .textBanner h3 { 
   font-size: 1.2em;
   font-weight: 500;
   color: #000000;
   padding-top: 1.5%;
  
   
}

.banner .imgBanner img{ 
    mix-blend-mode: luminosity; 
}

main .how{ 
    display: flex; 
    flex-wrap: wrap;
    width: 100vw; 
    align-items: center;
    justify-content: center;
}

main .how .explanation picture{ 
    mix-blend-mode: hard-light;
}

main .how .content { 
    width: 24em; 
    background-color: rgba(48, 25, 52, 0.29);
    border-radius: 2.5em; 
    height: 15em; 
    padding: 10%; 
}

main .how .content span{ 
    color: #4B006E; 
}




/*
@media screen and (min-width: 680px){ 
    

};
*/





